// header
.sticky-container{
   width: 100%;
}

.sticky{
   width: 100%;
}

.header{
   width: 100%;
}

// footer

// layouts
.guide{
   border: 1px solid $temp-blue;
}

.clear{
   clear: both;
}


#szolgaltatasok-section,
#flotta-section,
#partnereink-section,
#rolunk-section,
#kapcsolat-section{
   width: 100%;
   height: 400px;
   background: rgb(125, 224, 255);
   border: 1px solid rgb(0, 194, 255);
}

// smooth scrolling
.menu-item a.mPS2id-highlight {
   border: 1px solid rgb(0, 194, 255);}

a:focus {
	outline: none;
}
